* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridSquare {
    flex: 1;
    margin: 0;
    border-style: none;
}

.gridSquare:hover {
    background-color:rgb(200, 200, 200) ;
}

.gridContainer {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    height: 32vw;
    width: 32vw;
}

.gridRow {
    display: flex;
    flex: 1;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ui h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5vw;
    margin-bottom: 4vh;
}

.ui div {
    display: flex;  
}

.ui .toolBar {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.colorPickerLabel {
    width: 10vw;
    height: 10vw;
    background-image: url(palette.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

.colorPickerInput {
    opacity: 0;
}

.ui h1 {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    color: transparent;
}

#resetButton {
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vw;
    margin-left: 1vw;
}

.slider {
    width: 8vw;
}

.slideContainer label {
    font-family: 'Press Start 2P', cursive;
    font-size: 1vw;
    margin-left: 2.5vw;
}